<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/style.css" >
    
    <!--Stylesheets and Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto:wght@100;700;900&family=Rubik+Marker+Hatch&display=swap" rel="stylesheet">
   
    <title>Delicious Dash</title>  
</head>
<body>  
        <nav>
          </label>
          <label class="logo">Delicious Dash</label>
          <ul>
            
            <li><a href="/users/login">Login/Sign Up</a></li>
            <li><a href="/home">About Us</a></li>
            <li class="nav-item"><a href="/menu">Menu</a></li>
          </ul>
        </nav>

        


        

</body>
</html>