<header> 
    <ul> 
        <li><a href="/">Home</a></li>
        <li><a href="/asian">Asian</a></li>
        <li><a href="/indian">Indian</a></li>
        <li><a href="italian">Italian</a></li>  
        <li><a href="/mediterranean">Mediterranean</a></li>  
    </ul>
</header>