
<%- include('./partials/header.ejs') %>
<div class="bg-white">
    <div class="p-24 grid grid-cols-2">
        <div class="">
            <h2 class="text-2xl font-medium">About Us</h2>
            <p class="text-lg">
                At Delicious Dash, we believe in celebrating the incredible people who make every mealtime memorable. 
                Established in 2015, we've been on a delectable journey to revolutionize food delivery and support local communities. 
                Our mission is simple: to empower and grow local economies, ensuring that when consumers enjoy their favorite dishes, 
                local merchants thrive, and our dedicated Dashers earn a fair wage for their hard work.Our Journey:
                Delicious Dash was founded in 2015 by a team of food enthusiasts who saw the potential to create a more inclusive and 
                beneficial food delivery experience. We set out to connect hungry diners with their favorite local restaurants, while also 
                giving a much-needed boost to small businesses.
            </p>
        </div>
        <div class="flex items-center justify-center">
           
        </div>
    </div>
</div> 

<%- include('./partials/footer.ejs') %>

    
