<%- include('./partials/header.ejs') %>

<nav>
</label>

  
    <div class="p-4 m-4 rounded-lg bg-slate-50">
        <div class="flex flex-col items-center justify-between">
            <h2 class="text-3xl"><a href="Breakfast">Breakfast</a></h2>
            <h2 class="text-3xl"><a href="Lunch">Lunch</a></h2>
            <h2 class="text-3xl"><a href="Dinner">Dinner</a></h2>
            
            


        
            <div class="flex items-center justify-between">
                <div class="text-3xl text-black"></div>
            </div>
        </div>
        
        <div class="w-full flex items-center justify-center">
            
        </div>
    </div>


</nav>

<%- include('./partials/footer.ejs') %>