
<%- include('./partials/header.ejs') %>

<% Object.keys(categories).forEach(category => { %>
    <div class="menu-category">
        <h2><%= category %></h2>
        <div class="menu-items">
            <% categories[category].forEach(item => { %>
                <div class="menu-item">
                    <!-- Display item details -->
                    <h3><%= item.name %></h3>
                    <p>Price: $<%= item.price %></p>
                    
                </div>
            <% }); %>
        </div>
    </div>
<% }); %>

</body>


