
<%- include('../partials/header.ejs') %>

<h1>A Neighborhood of Good</h1>

<p> At Delicious Dash, we celebrate the people behind every order. Our mission is to empower and grow local economies. When consumers get their goods, local merchants get business, and Dashers get paid.</p>


<form class="login" method="POST" action="/users/login">
    <fieldset>
        <label for="email" >e-mail</label>
        <input id="email" type="email" name="email">
    </fieldset>

    <fieldset>
        <label for="password">Password</label>
        <input id="password" type="password" name="password">
    </fieldset>

    <input type="submit" value="Submit">

    or <a href="/users/new">Sign Up</a> <%/* ???change if not work to user/newuser.ejs*/%>
    
    
</form>

<%- include('../partials/footer.ejs') %>