
<%- include('../partials/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/login.css">
<div class="bg-image"></div>

<div class="bg-white login-form-container">
    <form class="login-form" method="POST" action="/users/login">
        <h1>Login</h1>
        <fieldset>
            <label for="email">Email</label>
            <input id="email" type="email" name="email">
        </fieldset>

        <fieldset>
            <label for="password">Password</label>
            <input id="password" type="password" name="password">
        </fieldset>

        <input type="submit" value="Submit">

        <p>or <a href="/users/new">Sign Up</a></p>
    </form>
</div>



<%- include('../partials/footer.ejs') %>