
<%- include('../partials/header.ejs') %>

<div class="bg-image"></div>
<h1>Sign Up</h1>

<form class="signup" method="POST" action="/users/signup"> 
        <label for="firstName">First Name: </label>
        <input id="firstName" type="text" name="firstName">
    </fieldset>
    <fieldset>
        <label for="lastName">Last Name: </label>
        <input id="lastName" type="text" name="lastName">
    </fieldset>
    <fieldset>
        <label for="email">E-mail: </label>
        <input id="email" type="email" name="email">
    </fieldset>
    <fieldset>
        <label for="password">Password: </label>
        <input id="password" type="password" name="password">
    </fieldset>

    <input type="submit" value="submit">

    or <a href="/users/login">Login</a>

</form>

<%- include('../partials/footer.ejs') %>